/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;

}

.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    --navbar-height: 64px;
    height: var(--navbar-height);
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin-top: -10px;
}



.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 20px;

}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.navbar-link {
    color: rgb(208, 208, 224);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
}

.home-link {
    text-decoration: none;
    display: flex;
    margin-left: -120px;
    color: white;
}

.home-link:is(:focus, :hover) {
    color: pink;
}

.navbar-link {
    justify-content: center;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
    color: lightcoral;
    background-color: rgb(130, 238, 215);
}

.navbar-links {
    list-style: none;
    position: absolute;
    display: inline;
    display: flex;
    align-items: center;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-top: 10%;
    margin-left: 70%;
}

.navbar-links,
#navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;

}

.txt {
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-m/1280/1d/11/1f/a4/granada-beach-resort.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 580px;
    font-size: larger;
    font-weight: 300;
    font-family: 'Unbounded', cursive;
    padding: 15%;
    color: white;
}

.style {
    width: 50%;
    height: 50%;
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}
.wave{
    margin-top: -15%;
}
